html,
body {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.container {
  margin: 2.5%;
  width: 95%;
  height: 95%;
  position: relative;
  transform-style: preserve-3d;
    perspective: 200px;
}

.card {
  width: 50%;
  position: absolute;
  perspective: 2000px;
  transform-style: preserve-3d;
}

svg {
  display: block;
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
}

svg#mbz {
  visibility: hidden;
}

svg#rDoor {
  visibility: hidden;
}

svg#drvr {
  visibility: hidden;
}

svg#dDoor {
  visibility: hidden;
}


.a, .b, .c {
  width: 20%;
  position: absolute;
  perspective: 1000px;
  transform-style: preserve-3d;
}