html,
body {
  width: 100vw;
  height: 100vh;
  background-color: grey;
}

.container {
  width: 95%;
  height: 95%;
  position: relative;
  display: flex;
  align-items: center;
}

.card {
  width: 100%;
  position: absolute;
  perspective: 1000px;
  transform-style: preserve-3d;
  perspective-origin:  right;
}

svg {
  display: block;
  overflow: visible;
  padding: 0;
  margin: 0;
  border: 0;
}

svg#esv {
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
}

svg#rDoor {
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
  backface-visibility: hidden;
}

svg#rDInner{
  visibility: hidden;
  position: absolute;
  top: 0;
  left:0;
}

svg#logo {
  visibility: hidden;
  position: absolute;
  top:0;
  left:0;
}